.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: black;
    transition: .3s;
    box-shadow: 0 -1px 4px rgb(182, 182, 182);
}

.nav {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

.nav__logo {
    font-family: var(--indie);
    font-size: 2rem;
}

.nav__logo,
.nav__toggle {
    color: hsl(var(--hue), var(--sat), 70%);
    font-weight: var(--font-medium);
}

.nav__list {
    display: flex;
    column-gap: 2rem;
}

.nav__link {
    font-family: var(--ibm);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: hsl(var(--hue), var(--sat), 70%);
    font-weight: var(--font-medium);
    font-size: 13px;
    transition: .3s;
}

/* 버튼 애니메이션 */
    
.nav__link:before{
    content : '';
    position: absolute;  /*before를 절대위치*/
    background-color: rgb(81, 159, 155);
    height: 2px;
    width : 0;
    bottom: -10px;       /*bottom을 주어, 글자 밑에 위치시킴*/       
    transition: 0.5s;    /*가상클래스에 이벤트 발생시 시간 지정*/ 
    left : 50%;         /*만약 왼쪽에서부터 커지게하려면-> left를 0으로 두면 됨*/
    transform: translateX(-50%);
}
    
.nav__link:hover:before{ /*hover시 width:0 -> 100%가 됨*/
    width : 100%;
}

.nav__icon,
.nav__close,
.nav__toggle {
    display: none;
}

/* avtive link */
.active-link,
.nav__link:hover {
    color: #FDB731;
}

/* change background header */
.scroll-header {
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--container-color); /* body-color */
    transition: .3s;
}

.scroll-logo {
    color: var(--title-color);
    font-weight: var(--font-medium);
}


.scroll-link {
    font-family: var(--ibm);
    color: hsl(var(--hue), var(--sat), 70%);
    font-weight: var(--font-medium);
}

.scroll-avtive-link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    font-size: 13px;
}


/* breakpoints */
/* for medium devices */
@media screen and (max-width: 768px) {
    .header {
        top: initial;
        bottom: 0;
    }

    .nav {
        height: var(--header-height);
    }

    .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -3px 4px rgba(255, 255, 255, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }

    /* show menu */
    .show-menu {
        bottom: 0;
    }

    .nav__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.7rem;
    }

    .nav__icon {
        font-size: 1.2rem;
    }

    .nav__close {
        position: absolute;
        right: 1.3rem;
        bottom: .5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--title-color);
    }

    .nav__close:hover {
        color:#840037;
    }

    .nav__toggle {
        font-style: 1.1rem;
        cursor: pointer;
    }

.nav__toggle:hover {
        color: aliceblue;
    }



    .nav__icon,
    .nav__close,
    .nav__toggle {
        display: block;
    }
}

/* for small devices */
@media screen and (max-width: 350px) {
    .nav__menu {
        padding: 2rem 0.25rem 4rem;
    }

    .nav__list {
        column-gap: 0;
    }
}